body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid;
    display: none;
    text-align: center; /* Centraliza o texto na div */
    max-width: 300px; /* Define uma largura máxima para a div */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}
.success {
    color: green;
    border-color: green;
}
.error {
    color: red;
    border-color: red;
}
table {
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
}
